/Practica1/nbproject/private/
/OneDriveClone/nbproject/private/
/OneDriveClone/build/
/Tarea2_DatagramaECO/nbproject/private/
/Tarea2_DatagramaECO/build/
/Tarea2_DatagramaECO/dist/
/Practica2_ControlFlujo/build/
/Practica2_ControlFlujo/dist/
/Practicas/Practica1_OneDrive/dist/
/Practicas/Practica3_ServicioChat/dist/
/Practicas/Practica5_WGET/nbproject/private/
/Practicas/Practica5_WGET/build/
/Practicas/Practica5/nbproject/private/
