/Practica1/nbproject/private/
/OneDriveClone/nbproject/private/
/OneDriveClone/build/
/Tarea2_DatagramaECO/nbproject/private/
/Tarea2_DatagramaECO/build/
/Tarea2_DatagramaECO/dist/
/Practica2_ControlFlujo/build/
/Practica2_ControlFlujo/dist/
